In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('people.json') # Read json file

In [5]:
df.show() # Show dataframe

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
# Print schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
# get only column names
df.columns

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
# Change the schema
from pyspark.sql.types import (StructField, IntegerType
                               , StringType, StructType )

In [16]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

final_struct = StructType(fields = data_schema)

In [17]:
final_schema = spark.read.json('people.json', schema=final_struct)

In [19]:
final_schema.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [20]:
# In spark if your return type is DataFrame then you can show it using show method

In [21]:
# Select only one column
df["age"] # if you do this it will return a column type object

Column<b'age'>

In [22]:
type(df['age'])

pyspark.sql.column.Column

In [24]:
# to view column
df.select('age') # So now it is a dataframe you can select data

DataFrame[age: bigint]

In [25]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [28]:
# top n records
df.head(2) # Returns the array of 2 rows.

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [29]:
df.head(2)[0]

Row(age=None, name='Michael')

In [30]:
# Select multipl columns
df.select(['name', 'age']).show()

+-------+----+
|   name| age|
+-------+----+
|Michael|null|
|   Andy|  30|
| Justin|  19|
+-------+----+

In [34]:
df.withColumn("newage", df["age"]*2).show() # But these changes are not permanent yet

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [35]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
# Renaming a column
df.withColumnRenamed("age", "new_age").show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [41]:
# Spark sql - You can run sql command
df.createOrReplaceTempView("people")

In [45]:
results = spark.sql("SELECT * FROM people WHERE age=30")

In [46]:
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+