In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('groupby_agg').getOrCreate()

In [7]:
df = spark.read.csv('sales_info.csv', inferSchema=True, header=True)

In [8]:
df.show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   GOOG|  Frank|340.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|   APPL|  Chris|350.0|
+-------+-------+-----+

In [9]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [ ]:
# GROUPING

In [10]:
df.groupBy('Company') # It will return a grouped result

In [11]:
# We can apply many functionsin above grouped data.

In [13]:
df.groupby('Company').mean() # So it will return a dataset

DataFrame[Company: string, avg(Sales): double]

In [14]:
df.groupby('Company').mean().show() # average or mean of all the sales of the company

+-------+-----------------+
|Company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [15]:
# sum of all the sales of the company
df.groupby('Company').sum().show()

+-------+----------+
|Company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [16]:
# Max and min sale
df.groupby('Company').max().show()

+-------+----------+
|Company|max(Sales)|
+-------+----------+
|   APPL|     750.0|
|   GOOG|     340.0|
|     FB|     870.0|
|   MSFT|     600.0|
+-------+----------+

In [18]:
# Get counts
df.groupby('Company').count().show()

+-------+-----+
|Company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [19]:
# Aggregation

In [21]:
# Few functions dont need to be grouped
# max, min, count
df.agg({'Sales': 'max'}).show() # Max sales

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [22]:
df.agg({'Sales': 'mean'}).show() # Average sales

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [23]:
df.agg({'Sales': 'count'}).show() # count sales

+------------+
|count(Sales)|
+------------+
|          12|
+------------+

In [24]:
grouped_data = df.groupby('Sales')

In [29]:
grouped_data.agg({'Sales' : 'max'}).show()

+-----+----------+
|Sales|max(Sales)|
+-----+----------+
|124.0|     124.0|
|350.0|     350.0|
|120.0|     120.0|
|250.0|     250.0|
|340.0|     340.0|
|600.0|     600.0|
|130.0|     130.0|
|243.0|     243.0|
|870.0|     870.0|
|200.0|     200.0|
|750.0|     750.0|
+-----+----------+

In [31]:
# There are lots of functions available in spark. We can import them like below:
from pyspark.sql.functions import countDistinct, avg, stddev

In [33]:
df.select(avg('Sales')).show() # Average of all sales

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [35]:
df.select(countDistinct('Sales')).show() # show distinct sales

+---------------------+
|count(DISTINCT Sales)|
+---------------------+
|                   11|
+---------------------+

In [36]:
# but we can observer here that it takes a auto generated name. We can also provide any alias
df.select(avg('Sales').alias('AverageSales')).show()

+-----------------+
|     AverageSales|
+-----------------+
|360.5833333333333|
+-----------------+

In [38]:
from pyspark.sql.functions import format_number

In [43]:
# We have a big number of significant numbers digits in average sales
# lets remove it
avg_sales = df.select(avg('Sales').alias('Average Sales'))
avg_sales.select(format_number('Average Sales', 2).alias('AvgSales')).show()

+--------+
|AvgSales|
+--------+
|  360.58|
+--------+

In [44]:
# SORTING

In [45]:
df.orderBy('Sales').show() # Ascending

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   GOOG|Charlie|120.0|
|   MSFT|    Amy|124.0|
|   APPL|  Linda|130.0|
|   GOOG|    Sam|200.0|
|   MSFT|Vanessa|243.0|
|   APPL|   John|250.0|
|   GOOG|  Frank|340.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   MSFT|   Tina|600.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
+-------+-------+-----+

In [46]:
# for Descending
df.orderBy(df['Sales'].desc()).show()

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|     FB|   Carl|870.0|
|   APPL|   Mike|750.0|
|   MSFT|   Tina|600.0|
|     FB|  Sarah|350.0|
|   APPL|  Chris|350.0|
|   GOOG|  Frank|340.0|
|   APPL|   John|250.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   APPL|  Linda|130.0|
|   MSFT|    Amy|124.0|
|   GOOG|Charlie|120.0|
+-------+-------+-----+